.product__item:hover .product__item__text .formAdd {
	top: 22px;
	opacity: 1;
	visibility: visible;
}

.product__item__text .formAdd {
	font-size: 15px;
	color: #e53637;
	font-weight: 700;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.remove-btn {
	outline: none;
	padding: 5px; 
	border: 0px; 
	box-sizing: none; 
	background-color: transparent; 
}